/*            steady clients            */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--primery-bg-color);
}

.clients-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.menu-list {
  display: flex;
  .menu-list_item + .menu-list_item {
    margin-left: 30px;
  }
}

.menu-list_item {
  width: 170px;
  height: 92px;
}

.menu-list_Logo-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--command-soc-link);
  border-radius: 4px;
  color: var(--command-soc-link);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accennt-color);
    border: 1px solid;
  }
}

.menu-list_icon {
  fill: currentColor;
}
