/*               portfolio               */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfoliobutton-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.relative-photo {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-bg-color);
  background-color: var(--portfolio-overlay);
  top: 0;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translate(0);
  }
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px var(--portfolio-shadow-one),
      0px 4px 4px var(--portfolio-shadow-two),
      1px 4px 6px var(--portfolio-shadow-three);
    cursor: pointer;
  }
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin: 0;
  color: var(--header-list-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfoliobutton {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--command-bg-color);
  border: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primery-bg-color);
    background-color: var(--accennt-color);
    box-shadow: 0px 3px 1px var(--portfoliobutton-shadow-one),
      0px 1px 2px var(--portfoliobutton-shadow-two),
      0px 2px 2px var(--portfoliobutton-shadow-three);
  }
}

.current-button {
  color: var(--primery-bg-color);
  background-color: var(--accennt-color);
}

.portfolio-bottom {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}
